/* Global Styling */
html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4px;
}

/* Header */
header {
  display: block;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-position: center;
  background-size: cover;background-repeat: no-repeat;
  height: 31rem;
  padding-top: 1rem;
}

.container {
  max-width: 960px;
  height: auto;
  margin: 0 auto;
}

nav {
  display: flex;
  background-color: cadetblue;
  color: #FFFFFF;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}

nav span {
  font-size: 1rem;
}
nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  border-style: none;
}

ul li {
  display: inline-block;
  margin-right: 2rem;
}

.truncated-menu {
  display: none;
}

/* Main Banner */
header .flex {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
}

.main-banner {
  background-color: #FFFFFF;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* Supporting Service Section */
.supporting {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  width: 5rem;
  text-align: center;
  padding: 4rem 3rem;
}

.service img {
  width: 5rem;
}

.service .paper-icon {
  width: 3.5rem;
}

/* Supporting Information Section */
.info {
  width: 35%;
  padding-right: 5%;
  margin-bottom: 5rem;
}

.title div {
  color: white;
  background-color: cadetblue;
  width: 10rem;
  padding: .5rem 1.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.info p {
  line-height: 1.4rem;
}

/* Footer Section */
footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  margin-left: 4rem;
  margin-right: 1rem;
}

/* Responsive Styling | 1024px */
@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
  }

  nav.container {
    max-width: 100%;
    margin-top: -1rem;
  }

  .main-banner {
    padding: 1rem 4rem;
    margin-right: 2rem;
  }

  h1 {
    font-size: 1.33rem;
  }
}

/* Responsive Styling | 700px */
@media only screen and (max-width: 700px) {
  header {
    height: 17rem;
    background-position: left;
  }

  .main-menu {
    display: none;
  }

  .truncated-menu {
    display: block;
  }

  nav span {
    display: none;
  }

  .main-banner {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: -2rem;
  }

  h1 {
    font-size: 1rem;
  }
}

/*Responsive Styling | 480px */
@media only screen and (max-width: 575px) {
  .supporting {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer {
    justify-content: center;
  }

  footer img {
    margin: 0 auto;
  }

  footer div {
    display: none;
  }

  .service {
    padding-top: 3.77rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .service div {
    font-size: .77rem;
  }

  .service.ruler, .service.truck {
    height: 6rem;
  }

  .info {
    margin: 0 auto;
    width: 100%;
  }

  .title div {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .info p {
    font-size: .77rem;
    padding: 1rem;
  }
}
