/* Global Styling */
html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

/* Header */
header {
  display: block;
  background-image: url(/Users/MTracy/Desktop/Projects/ts3/resources/images/glasses-bg.png);
  background-position: center;
  background-size: cover;background-repeat: no-repeat;
  height: 31rem;
  padding-top: 1rem;
}

.container {
  display: flex;
  width: 960px;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  background-color: cadetblue;
  color: #FFFFFF;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav span {
  font-size: 1rem;
}
nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  border-style: none;
}

ul li {
  display: inline-block;
  margin-right: 2rem;
}

.truncated-menu {
  display: none;
}

/* Main Banner */
header .flex {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
}

.main-banner {
  background-color: #FFFFFF;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* Supporting Section */
